.js .animate-box{
    opacity:0.9 !important;
}
@media (max-width: 768px)  {
    .fh5co-cover{
        object-fit: cover;
        height: 100%;
    }
}
.couple-half .groom img, .couple-half .bride img{
    object-fit: cover !important;
}